<%= render "form.html", changeset: @changeset,
                        practice: @practice,
                        current_user: @current_user,
                        action: admin_practice_path(@conn, :create) %>

<%= link "Back", to: admin_practice_path(@conn, :index) %>
