/* This file is for your main application css. */

#problem-description-input{
  min-height: 500px;
}

tr.clickable-row:hover{
  cursor: pointer;
}

/* Fixes nav clipping */
header {
  margin-bottom: 1rem;
}

