<h1>Your submitted answers</h1>
<%= render VirtualJudge.SharedView, "answer_list.html",
conn: @conn,
link_type: :problem_path,
answers: @answers %>

<center>
  <%= pagination_links @page, view_style: :bootstrap_v4 %>
</center>

