<div class="page-header">
  <h1><%= @problem.title %></h1>
  <%= @problem.source %>
</div>

<%= render VirtualJudge.SharedView, "problem_iframe.html", problem: @problem %>

<hr />

<h2>Submit a answer</h2>
<%= render VirtualJudge.SharedView, "answer_form.html",
                                    problem: @problem,
                                    action: contest_problem_answer_path(@conn, :create, @contest, @problem),
                                    changeset: @answer_changeset %>
