<h2>Edit contest</h2>

<%= render "form.html", changeset: @changeset,
                        contest: @contest,
                        action: contest_path(@conn, :update, @contest) %>

<%= link "Back", to: contest_path(@conn, :index) %>
