<h3>Upcoming contests</h3>
<%= render "contest_table.html", conn: @conn, contests: @upcoming_contests %>

<h3>Ongoing contests</h3>
<%= render "contest_table.html", conn: @conn, contests: @contests %>
