<h2>New contest</h2>

<%= render "form.html", changeset: @changeset,
                        contest: nil,
                        action: contest_path(@conn, :create) %>

<%= link "Back", to: contest_path(@conn, :index) %>
